@media screen and (max-width: 1537px) {
  html {
    font-size: 1rem;
  }
}

@media screen and (max-width: 1401px) {
  html {
    font-size: 0.72rem;
  }
}

@media screen and (max-width: 1201px) {
  html {
    font-size: 0.62rem;
  }
}

@media screen and (max-width: 993px) {
  html {
    font-size: 0.51rem;
  } 
}

@media screen and (max-width: 769px) {
  html {
    font-size: 0.39rem;
  }
}

@media screen and (max-width: 577px) {
  html {
    font-size: 0.9rem;
  }
}

@media screen and (max-width: 421px) {
  html {
    font-size: 0.65rem;
  }
}
@media screen and (max-width: 361px) {
  html {
    font-size: 0.54rem;
  }
}





@media screen and (min-width: 361px) {
  //
}

@media screen and (min-width: 421px) {
  //
}

@media screen and (min-width: 577px) {
  //
}

@media screen and (min-width: 769px) {
  //
}

@media screen and (min-width: 993px) {
  //
}

@media screen and (min-width: 1201px) {
  //
}

@media screen and (min-width: 1401px) {
  //
}

@media screen and (min-width: 1537px) {
  //
}

@media screen and (min-width: 1601px) {
  //
}