//**     styles import     **//
@import 'vars'
@import 'libs'
@import 'fonts'
@import 'keyframes'

/**
  * main styles start
	**/

body
	overflow-x: hidden
	font-size: 16px
	font-family: $default-font, Arial, Helvetica, sans-serif
	line-height: 1.75

.title-h1, .title-h2, .title-h3, .title-h4, .title-h5
	line-height: 1.4

/**
  * main styles end
	**/


/**
  * sections start
	**/

// section name start



// section name end

/**
  * sections end
	**/


/**
  * media rules
	**/
@import 'media'
