//**     styles import     **//
@import 'vars'
@import 'libs'
@import 'fonts'
@import 'keyframes'

//** general styles start **//

body
	overflow-x: hidden
	font-size: 16px
	font-family: $default-font Arial, Helvetica, sans-serif
	line-height: 1.75

.title-h1, .title-h2, .title-h3, .title-h4, .title-h5
	line-height: 1.4

//** general styles end **//


//** section styles start **//

/**
  * section name start
  */



/**
  * section name end
  */

//** section styles end **//


//**     media rules    **//

@import 'media'
