@mixin main($sf)
    body
        font-size: $sf
        overflow-x: hidden
        opacity: 1
        font-family: $default-font, Arial, Helvetica, sans-serif
        line-height: 1.75
        &.hidden
            overflow: hidden

    .t-h1, .t-h2, .t-h3, .t-h4, .t-h5
        line-height: 1.4

    .para
        font-size: $sf * 1.125

    img
        max-width: 100%
        height: auto

    /**
      * main styles start
      **/

    /**
      * main styles end
      **/

    /**
      * sections start
      **/

    /**
      * sections end
      **/